.disign{
    width:200px;
    height:40px;
}
.list_stud div{
    width:1200px;
    font-size: 20px;
    margin: 0px auto;
     margin-bottom: 10px;
     margin-bottom: 10px;
     display: block;
}

.errDiv{
    width:1200px;
    font-size: 20px;
    margin: 0px auto;
}
.container{
    display: flex;
    align-items: center;
    gap:200px;
}

